<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scheduling Portal</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- CSS file for the Form -->


    <footer class="footer">
      <div class="footer_container">
	<p class="text-muted">&copy; Herbert Aungon 2014</p>
      </div>
    </footer>
	    
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
	    <script src="{{url_for('static', filename='bootstrap.js') }}"></script>
	    <script src="{{url_for('static', filename='login.js') }}"></script>
</body>
</html>
